<?php
/**
 * Copyright © 2019 tii.co.in, Inc. All rights reserved.
 */
 ?>
<?php
$helper = $this->helper('Solvature\PopularCategoriesWidget\Helper\Data');
$imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('image');

$categorySets = [
    $helper->getCategories($block->getCategorySet1()),
    $helper->getCategories($block->getCategorySet2()),
    $helper->getCategories($block->getCategorySet3()),
    $helper->getCategories($block->getCategorySet4())
];
?>
<div class="widget block block-popular-categories">
    <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <h2 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h2>
        </div>
    <?php endif; ?>
    <?php if ($block->getSubtitle()): ?>
        <div class="block-subtitle">
            <p class="title"><?php echo $block->escapeHtml($block->getSubtitle()) ?></p>
        </div>        
    <?php endif; ?>

    <div class="block-content">
        <ul>
        <?php foreach ($categorySets as $categorySet) :?>
            <li class="item category-set">
                <ul>
                <?php $counter = 1; ?>
                <?php foreach ($categorySet as $category) : ?>            
                    <?php if ($counter == 1) : ?>
                    <li class="primary">
                        <div class="image-container"><img src="<?php echo $category->getImageUrl() ?>" alt="<?php echo $category->getName() ?>" title="<?php echo $category->getName() ?>" /></div>
                        <a class="name" title="<?php echo $category->getName() ?>" href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a></h2>
                    </li>                
                    <?php elseif ($counter <= 4) : ?>
                    <li class="secondary">
                        <a class="name" title="<?php echo $category->getName() ?>" href="<?php echo $category->getUrl() ?>" ><?php echo $category->getName() ?></a>
                    </li>
                    <?php endif; ?>
                    <?php $counter++; ?>
                <?php endforeach; ?>            
                </ul>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>

</div>