//  /**
//   * @author Techies
//   * @copyright 2019 Techies
//   */

//
//  Popular Category Widget Styles
//  _____________________________________________

//
//  Common
//  ---------------------------------------------
@color-brand_black:#000;
@color-brand_grey:#f2f2f2;
& when (@media-common = true) {
    .block-popular-categories{
        display: inline-block;
        width: 100%;
        .block-title {
            text-align: center;
            font-family: 'Oswald';
            text-transform: uppercase;
            padding: 30px 0;
            margin: 0;
            color: #000;
            font-size: 35px;
            font-weight: 700;
            word-spacing: 2px;
            letter-spacing: 2px;
        }
        
        .block-content ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            ul {
                display: block;    
            }
            
            li {
                display: block;
            }
        }
          
        .block-content .category-set {
            
            width: ~"calc((100% - (15px * 3)) / 4)";
            margin: 15px 15px 0 0;
            padding: 15px 15px 5px 15px;
            border:1px solid #F2F2F2;
            
            .image-container {
                display: block;
                position: relative;
                margin-bottom: 15px;
                
                &::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            
            .primary .name {
                display: block;
                text-align: center;
                font-family: 'Oswald';
                font-size: 22px;
                font-weight: normal;
                color: #333333;   
                line-height: 1.4;             
            }

            .secondary .name {
                display: block;
                text-align: center;
                font-family: @font-family__base;
                font-size: 14px;
                font-weight: 100;
                color: #333333;                
                line-height: 1.4;
            }

            &:nth-child(4) {
                margin-right: 0;
            }
            
        }         
    }
}
//
//  Tablets
//  _____________________________________________

@media (min-width: @screen__m) and (max-width: (@screen__l)) {
    .block-popular-categories{        
        .block-content .category-set {
            width: ~"calc((100% - (15px * 2)) / 3)";
            
             &:nth-child(3) {
                margin-right: 0;
            }

            &:nth-child(4) {
                display: none;
            }

        }
    }
}
//
//  Mobile
//  _____________________________________________

@media (max-width: (@screen__m)) {
    .block-popular-categories{        
        .block-content .category-set {
            width: ~"calc((100% - (15px * 1)) / 2)";
            
            &:nth-child(2) {
                margin-right: 0;
            }

            &:nth-child(3) {
                 display: none;
            }

            &:nth-child(4) {
                display: none;
            }

        }
    }
}

@media (max-width: (@screen__xxs)) {
    .block-popular-categories{  
        .block-content ul {
            display: block;
        }      
        .block-content .category-set {
            width: 100%;
            margin-right: 15px;
            
            &:nth-child(3) {
                 display: none;
            }

            &:nth-child(4) {
                display: none;
            }

        }
    }
}