//  /**
//   * @author Techies
//   * @copyright 2019 Techies
//   * @package Solvature_DailyCatchWidget
//   */

// Widget Style

.daily-catch{
    .products{
        margin-top: 30px;
    }
}
.toolbar-products.toolbar
{
    .pager{
        display: contents;
    }
}

//
//  Mobile
//  _____________________________________________

@media (max-width: (@screen__m)) {
    .cms-new-arrivals{
           .toolbar-products.toolbar{
            .pages {
                .pages-items{
                    .item {
                        line-height: 32px;
                        width: 32px;
                        height: 32px;
                        strong.page{
                            line-height: 32px;
                            height: 32px;
                            width: 32px;
                        }
                    }
                }
            } 
        }
    }
  
}